<div ng-conroller="AddCheckinCtrl">

	<h2>Select a patient to create a check in for</h2>
	<label>Filter by: </label>
	<select class="input-small" ng-model="searchBy" ng-change="searchByChange()">
		<option value="name">Name</option>
		<option value="nhi">NHI</option>
	</select>
	<input type="search" class="input-xlarge search-query" ng-change="searchBarChange()" ng-model="queryString">
	
	<ul>
		<li ng-repeat="patient in filteredPatients = (patients | filter:query)">
			<p><[patient.nhi]></p>
			<p><[patient.name]></p>
		</li>
	</ul>
	<p ng-hide="filteredPatients.length">We can't find the patient you're looking for. <span style="color: blue" ng-click="newPatient()">Create a new one?</span></p>
	<p ng-show="creatingPatient">Enter new patients NHI number: <input type="text"><button>Confirm</button></p>
</div>