<div ng-controller="LoginCtrl">
	<div class="alert" ng-show="no_auth">
		<strong>Warning</strong> You do not have authentication to view patient information. To see patient information log in below.
	</div>
	<div class="row">
		<div class="span12">
				<h1>Vital Stats Manager</h1>
				<p>Vital Stats Manager is an application which allows patients at hospitals to quickly check in using their NFC enabled mobile devices. Patients must download the Vital Stats Manager Android application and fill out their details using the simple form. Once completed, simply touch the NFC receiver on the reception desk to be automatically checked in to the Hospital.</p>
		</div>
	</div>

	<div class="row">
		<div class="span12">

			<form class="form-inline" method="post" action="/login/">
				<fieldset>
					<legend>Choose your department</legend>
					<select name="department">
						<option value="Cardiology">Cardiology</option>
						<option value="Emergency">Emergency</option>
					</select>
					<button type="submit" class="btn">Login</button>
				</fieldset>
			</form>

		</div>
	</div>
</div>
