<div ng-controller="LoginCtrl">
	<div class="row">
		<div class="span12">
				<h1 class="login-title">Orion Tap In</h1>
				<p>Orion Tap In is an application which allows patients at hospitals to quickly check in using their NFC enabled mobile devices. Patients must download the Orion Tap In Android application and fill out their details using the simple form. Once completed, simply touch the NFC receiver on the reception desk to be automatically checked in to the Hospital.</p>
		</div>
	</div>

	<hr />

	<div class="row">
		<div class="span12">

			<form class="form-inline">
				<fieldset>
					<legend>Choose your department</legend>
					<select ng-model="department" ng-options="d.department_name for d in departments" name="department"></select>
					<button type="submit" class="login-btn btn btn-primary" ng-click="enter()">Enter</button>
				</fieldset>
			</form>

		</div>
	</div>
</div>
