<div ng-controller="PatientListCtrl">
	<div class="row">
		<div class="span3">
			<h2 class="patient-heading">Recent Checkins</h2>
		</div>

		<div class="span3">
		    <form class="form-inline pull-right patient-filter-form">
					<label for="patient-filter">Filter by: </label>
					<select class="input-small" ng-model="searchBy" ng-change="searchByChange()">
					  <option value="fullname">Name</option>
					  <option value="nhi">NHI</option>
					</select>
					<input type="search" id="patient-filter" class="input-small search-query" ng-change="searchBarChange()" ng-model="queryString">
		    </form>
  		</div>

  		<div class="span6">
  			<h2 class="patient-heading">Upcoming Appointments</h2>
  		</div>
	</div>

	<div class="row">
		<div class="span6">
			<ul class="recent-patient-list">
				<li>
					<div class="card">
						<a href="/#/add_checkin" class="card-summary">
						    <h5>Manually check in a patient</h5>
						</a>

						<div class="card-actions">
						  <a href="/#/add_checkin" class="card-action btn btn-info">
						    <i class="icon-plus"></i>
						  </a>
						</div>
					</div>
				</li>
				<li ng-repeat="patient in patients | filter:query" ng-animate="'custom'" ng-include src="'static/partials/patient_card.html'">
				</li>
			</ul>
		</div>
		<div class="span6">
			<ul class="upcoming-patient-list">
				<li ng-repeat="appointment in appointments" ng-animate="'custom'" ng-include src="'static/partials/appointment_card.html'">
				</li>
			</ul>
		</div>
	</div>
  </div>
</div>
