<div ng-controller="PatientListCtrl">
	<div class="row">

		<div class="span6">
			<h1 class="patient-heading">Patients</h1>
		</div>

		<div class="span6">
	    <form class="form-inline pull-right">
				<label>Search by: </label>
				<select class="input-small" ng-model="searchBy" ng-change="searchByChange()">
				  <option value="fullname">Name</option>
				  <option value="nhi">NHI</option>
				</select>
				<input type="search" class="input-xlarge search-query" ng-change="searchBarChange()" ng-model="queryString">
	    </form>
	  </div>

	</div>

	<div class="row" ng-repeat="patient in patients | filter:query" ng-animate="'custom'">
		<div class="span12" ng-include src="'static/partials/patient_card.html'"></div>
	</div>
  </div>
</div>
