<div ng-controller="PatientCtrl">
	<div class="row">
		<div class="span12">
			<div ng-include src="'static/partials/patient_card.html'"></div>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<form class="form-inline">
				<label>Sort check-ins by: </label>
				<select ng-model="sortBy" ng-change="sortByChange()">
					<option value="checkin_time">Date</option>
					<option value="location">Location</option>
				</select>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Check-in Date</th>
						<th>Check-in Time</th>
						<th>Location</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="checkin in checkins | orderBy:sortBy:reverseCheckIns">
						<td><a href="#/patients/<[ patient.nhi ]>/checkins/<[ checkin.checkin_id]>">
								<[ checkin.checkin_time.substring(0,10) ]></a></td>
						<td><a href="#/patients/<[ patient.nhi ]>/checkins/<[ checkin.checkin_id]>">
								<[ checkin.checkin_time.substring(11,16) ]></a></td>
						<td><a href="#/patients/<[ patient.nhi ]>/checkins/<[ checkin.checkin_id]>">
								<[ checkin.location ]></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
