<div class="vitalinfo" ng-controller="VitalInfoCtrl">

	<div class="row vitalinfo-details">
		<button class="edit-vitalinfo pull-right btn btn-primary" ng-click="editVitalInfo()" ng-hide="currentlyEditing"><i class="icon-edit"></i> Edit</button> 
		<div class="span12">
			<h1><[ vitalinfo.firstname + " " + vitalinfo.lastname ]></h1>
			<dl class="dl-horizontal">
				<dt>Gender</dt><dd><[vitalinfo.gender]></dd>
				<dt>Date Of Birth</dt><dd><[vitalinfo.dob]></dd>
				<dt>NHI</dt><dd><[patient.nhi]></dd>
				<dt>Occupation</dt><dd ng-show="currentlyEditing"><input ng-model="vitalinfo.occupation" /></dd><dd ng-hide="currentlyEditing"><[vitalinfo.occupation]></dd>
				<dt>Citizen/Resident</dt><dd ng-show="currentlyEditing"><select ng-model="vitalinfo.citizen_resident"><option value="true">Yes</option><option value="false">No</option></select></dd><dd ng-hide="currentlyEditing" ><[vitalinfo.citizen_resident]></dd>
				<dt>Contact Number</dt><dd ng-show="currentlyEditing"><inpung-model="vitalinfo.contact_num" /></dd><dd ng-hide="currentlyEditing"><[vitalinfo.contact_num]></dd>

			</dl>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="span12 vitalinfo">
			<dl class="dl-horizontal">
				<dt>Check In Time</dt><dd><[ vitalinfo.check_in_time.substring(0,10) + " " + vitalinfo.check_in_time.substring(11,16)]></dd>

				<dt>Location</dt><dd><[vitalinfo.location]></dd>

				<dt>Height</dt><dd ng-show="currentlyEditing" ><input ng-model="vitalinfo.height_value" /></dd><dd ng-hide="currentlyEditing"><[vitalinfo.height_value]> <[vitalinfo.height_unit]></dd>

				<dt>Weight</dt><dd ng-show="currentlyEditing" ><input ng-model="vitalinfo.weight_value"/></dd><dd ng-hide="currentlyEditing"><[vitalinfo.weight_value]> <[vitalinfo.weight_unit]></dd>

				<dt>Blood Type</dt><dd ng-show="currentlyEditing"><input ng-model="vitalinfo.blood_type"/></dd><dd ng-hide="currentlyEditing" ><[vitalinfo.blood_type]></dd>

				<dt>Drinker</dt><dd ng-show="currentlyEditing" ><select ng-model="vitalinfo.drinker"><option value="true">Yes</option><option value="false">No</option></select></dd><dd ng-hide="currentlyEditing"><[vitalinfo.drinker]></dd>

				<dt>Smoker</dt><dd ng-show="currentlyEditing"><select ng-model="vitalinfo.smoker"><option value="true">Yes</option><option value="false">No</option></select></dd><dd ng-hide="currentlyEditing"><[vitalinfo.smoker]></dd>

				<dt>Medical Conditions</dt><dd ng-show="currentlyEditing" ><ul ><li ng-repeat="medical_condition in vitalinfo.medical_conditions"><input class="edit-input" ng-model="medical_condition"/></li></ul></dd><dd ng-hide="currentlyEditing"><ul><li ng-repeat="medical_condition in vitalinfo.medical_conditions"> <[medical_condition]> </li></ul></dd>

				<dt>Allergies</dt><dd ng-show="currentlyEditing" ><ul ><li ng-repeat="allergy in vitalinfo.allergies"><input class="edit-input" ng-model="allergy"></li></ul></dd><dd ng-hide="currentlyEditing"><ul><li ng-repeat="allergy in vitalinfo.allergies"> <[allergy]> </li></ul></dd>

				<dt>Overseas Recently</dt><dd ng-show="currentlyEditing" ><select ng-model="vitalinfo.overseas_recently"><option value="true">Yes</option><option value="false">No</option></select></dd><dd ng-hide="currentlyEditing"><[vitalinfo.overseas_recently]></dd>

				<div ng-show="vitalinfo.overseas_recently">
				<dt>Overseas Destinations</dt><dd ng-show="currentlyEditing" ><ul ><li ng-repeat="overseas_dest in vitalinfo.overseas_dests"><input class="edit-input" ng-model="overseas_dest"/></li></ul></dd><dd ng-hide="currentlyEditing" ><ul><li ng-repeat="overseas_dest in vitalinfo.overseas_dests"> <[overseas_dest]> </li></ul></dd>
				</div>

				<dt>Family History</dt><dd ng-show="currentlyEditing"><ul ><li ng-repeat="family_hist in vitalinfo.family_hist"><input class="edit-input" ng-model="family_hist"/></li></ul></dd><dd ng-hide="currentlyEditing" ><ul><li ng-repeat="family_hist in vitalinfo.family_hist"> <[family_hist]> </li></ul></dd>
				</dl>
	  	</div>
  	</div>
  	<div class="row">
  		<div class="span10 offset2">
  			<button ng-show="currentlyEditing" ng-click="saveChanges()" class="save-changes btn btn-success">Save changes <i class="icon-ok"></i></button>
  			<button ng-show="currentlyEditing" ng-click="cancelEditing()" class="cancel-editing btn btn-danger">Cancel <i class="icon-remove"></i></button>
  		</div>
  	</div>
</div>
