<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/angular.js') }}"></script>
</head>
<body>
  <div ng-app="vsmApp">

      <div ng-controller="PatientListCtrl">

        <h1>Vital Stats Manager</h1>

        <div class="search-bar">
          <label>Patient Search</label>
          <input type="search" ng-model="query.fullname">
        </div>

        <div class = "patients">

          <div class="patient" ng-repeat="patient in patients | filter:query">
            <h3 class="patient-name"><[patient.firstname]> <[patient.lastname]></h3>

            <dl>
              <dt>NHI</dt>
              <dd><[patient.nhi]></dd>

              <dt>Occupation</dt>
              <dd><[patient.occupation]></dd>

              <dt>Citizen/Resident</dt>
              <dd><[patient.citizen_resident]></dd>

              <dt>Contact Number</dt>
              <dd><[patient.contact_num]></dd>

              <dt>Gender</dt>
              <dd><[patient.gender]></dd>

              <dt>Patient ID</dt>
              <dd><[patient.patient_id]></dd>

              <dt>Date Of Birth</dt>
              <dd><[patient.dob]></dd>

              <dt>Last Check In</dt>
              <dd><[patient.last_check_in]></dd>
            </dl>
          </div>
        </div>

    </div>

  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>