<html>
<head>
    <script type="text/javascript" src="{{ url_for('static', filename='js/angular.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

    <!--<script type="text/javascript" src="../static/js/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <script type="text/javascript" src="../static/js/app.js"></script>-->

</head>
<body>
  <div ng-app="vsmApp">
      <div ng-controller="PatientListCtrl">
        <div class="search-bar">
          <input ng-model="query.fullname">
        </div>
        <div class = "patients">
          <div ng-repeat = "patient in patients | filter:query">
            <h3>Name: <[patient.firstname]> <[patient.lastname]></h3>
            <p>NHI: <[patient.nhi]></p>
            <p>Occupation: <[patient.occupation]></p>
            <p>Citizen/Resident: <[patient.citizen_resident]></p>
            <p>Contact Number: <[patient.contact_num]></p>
            <p>Last Check In: <[patient.last_check_in]></p>
            <p>Gender: <[patient.gender]></p>
            <p>Patient ID: <[patient.patient_id]></p>
            <p>Date Of Birth: <[patient.dob]></p>
          </div> 
        </div>
    </div>
  </div>
</body>
</html>