<html>
<head>
    <script type="text/javascript" src="{{ url_for('static', filename='js/angular.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

    <!--<script type="text/javascript" src="../static/js/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <script type="text/javascript" src="../static/js/app.js"></script>-->

</head>
<body>
    <div ng-app="">
        <div ng-controller="FirstCtrl">

        </div>
    </div>
</body>
</html>