body {
    padding-top: 60px;
}

.navbar .btn {
    margin-top: 7px;
}

.patient {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 0 15px 15px 15px;
    border: 1px solid silver;
    box-shadow: 0 1px 2px silver;
    background: ghostwhite;
}

.patient-heading {
    margin-top: 0;
}

.patient dt {
    height: 20px;
    text-align: left;
}

.patient dd {
    height: 20px;
}
